h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

.header {
  padding: 1em 0 0 1em;
}

main {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  padding: 1em 2em 0 2em;
}

.scores {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.score-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

table {
  border: 2px solid black;
}

.flex-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.form-button {
  width: 50%;
  place-self: self-end normal;
}

aside {
  width: 30%;
}

tr:nth-child(even) { background-color: #f2f2f2; }
